<template name="Header">
  <div class="ui top fixed borderless inverted darkblue menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>ManoaCoderCentral</h1></a>

      <div class="right menu">
        {{#if currentUser}}
          <a class="item" href="{{pathFor 'Add_Request'}}">
            <i class="plus icon"></i> Add Request
          </a>
          {{> Account_Menu }}

        {{else}}
          {{> Cas_Login }}
        {{/if}}
      </div>
    </div>
  </div>
</template>