<template name="User_Footer">
  <footer>

    {{#if currentUser}}
    <div class="ui bottom fixed borderless menu">

      <div class="ui grid container">
        <div class="eight wide column">
          <div id="footerQuickLinks" class="ui left aligned container">

            <h3>Quick links</h3>
            <a class="item" href="{{pathFor 'Terms_Of_Use_Page'}}">Terms of Use</a><br/>
            <a class="item" href="#">GitHub</a><br/>

          </div>
        </div>





        <div class="eight wide column">
          <div class="ui right aligned container">
            Department of Information and Computer Sciences <br />
            University of Hawaii<br />
            Honolulu, HI 96822
          </div>
        </div>

      </div>

    </div>


    {{else}}

    <div id="landingPageFooter" class="ui bottom fixed borderless menu">
      <p>By creating an account you agree to the <a style="padding-left: 1px" href="{{pathFor 'Terms_Of_Use_Page'}}">Terms of Use</a>.
      </p>
    </div>

    {{/if}}






  </footer>
</template>