<template name="User_Header">
  <div class="ui top fixed borderless inverted stackable darkblue menu">
    <div class="ui container">


      {{#if currentUser}}
        <a class="{{isActiveRoute 'Home_Page'}} item" href="{{pathFor 'Home_Page' username=routeUserName}}"><h1>
          ManoaCoderCentral</h1></a>
        <div class="right menu">
          <a class="{{isActiveRoute 'Add_Request'}} item" href="{{pathFor 'Add_Request' username=routeUserName}}"><i
              class="plus icon"></i> Add Request</a>

          <div class="item">
            {{> Account_Menu }}
          </div>
        </div>

      {{else}}
        <a class="item"><h1>ManoaCoderCentral</h1></a>
        <div class="right menu">
          <a class="item">
            {{> Cas_Login }}
          </a>
        </div>
      {{/if}}

    </div>
  </div>
</template>