<template name="User_Footer">
  <footer>
    <hr>
    <div class="ui grid container">
      <div class="eight wide column">
        <div id="footerQuickLinks" class="ui left aligned container">

          <h3>Quick links</h3>
          <a class="item" href="#'}}">Github</a><br/>

          <a class="item" href="#'}}">other stuff</a><br/>

          <a class="item" href="#'}}">more stuff</a><br/>

          <a class="item" href="#">stuffstuff</a><br/>
        </div>
      </div>





      <div class="eight wide column">
        <div class="ui right aligned container">
          Department of Information and Computer Sciences <br />
          University of Hawaii<br />
          Honolulu, HI 96822
        </div>
      </div>

    </div>
  </footer>
</template>